#Events-wrapper {
	width: 100%;
	ul {
		padding: 0;
		margin-left: 0;
		li {
			margin: 0;
			padding: 5px 0 5px 0;
			width: 100%;
		}
	}

	font-family: 'HelveticaNeue';
	font-size: 0.7em;
}

.Events-header {
	display: block;
	margin: 0 0em 1em 3em;
	text-decoration: underline;
}

.Events-desc{
	display: inline;
	font-family: 'HelveticaNeue-Thin';
	text-shadow: 0 0 1px rgb(240, 245, 235);
}
