ul {
	margin: 0px;
	padding: 0px;

	li {
		list-style-type: none;
		padding: 5px;
	}
}

i {
	margin: 4px;
	font-size: 25px;
}

.weather-icon {
	margin-left: 5px;
	display: inline;
}

.Weather-wrapper {
	font-family: 'HelveticaNeue';
	padding: 0px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 5px rgb(240, 245, 235);
}

.Weather-temp {
	font-family: 'HelveticaNeue-Thin';
}
