@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
.App {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 25px;
}

.App-body {
	margin: 40px 40px 0px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-shadow:	0px 0px 3px rgb(240, 245, 235);
}


#App-left-side {
	width: 33%;
}

#App-center {
	width: 33%;
	text-align: center;
}

#App-right-side {
	width: 33%;
}

.App-clock {
	font-family: 'HelveticaNeue';
	font-weight: bold;
}
